@media only screen and (max-width: 600px){

body{
    max-width:100%;
    width:100%;
}
    ul{
        list-style-type: none;  
        padding-top:10px;
        max-width:100%;

    }

    li{
    display: inline;
    max-width:100%;
    }


    .sub-menu a{
        color:#333;  
        text-decoration: none;
        max-width:100%;
        margin: 2%;
    }
    .dropdown{
        margin-left: 3%;
    }
    
    a:hover{
        color:darkgrey;
        text-decoration: none;

    }
    
    .sub-menu{
        text-align: center;
        margin-top:2%;
        color:#333;
        font-size: 0.6em;
        text-transform: capitalize;
        font-weight: 500;  
        margin-left: -1%;

    }

    #title2{
        width:50%;
        margin-left: -80px;
        margin-right: 30px;
        margin-top: 2px;
        
        font-size:12px;
    }
  
    #title2 a{
        margin-left: 0;
        margin-right: 0px;
    }
  
   .nav-item{
    display:none;
   }

    .input-group{
        width:40%; 
        position: relative;
        left:15px;
    }

    table{
        width:100%;
        font-size:0.5em;
    }
    .table{
        margin-bottom: 150px;
    }

    .picture{
        height:400px;   
    }

    .text{
        margin-top: 100px;
    }

     
    .ruins{
        opacity: 0;
        width:100%;


    }
.group{
    margin-top: 250px;
    margin-bottom: -500px;
}
    .banner{
        width: 100%;
        font-size: 2.5em;
    }

    .hotel-1 img{
        width:100%;
    }

    .hotel-1{
        height:250px;
    }

    .price, .hotel-info, .hotel-link{
        display:none;
    }


    .contact{
        height:150px;
        font-size:3.0em
    }
    .contact img{
        width:50px;
    }

    .form-title{
        height:500px;
        padding:20px;
        font-size:1.0em
    }
 


#showtimes{
    width:80%;
    margin-left: 5%;
}

  .zoo-text-box{
      width:100%;
  }
    .zoo-slideshow{
        width:100%;
  
    }

    .address{
        margin-left: 0;
        width:100%;
        max-width: 100%;
      }
      #carouselExampleFade img{
        margin-top: 15%;
        height:300px;
      }


.article1{
    width:100%;
    margin-left:0.5%;
    font-size:0.5em;
}


                    /* new letter  */

    .top-pic{
        display: none;
    }
.album{
    margin-top: -15%;
}

    .container .top-pic-text{
      position: relative;
      left:15%;
    }

       .container .article{
    position: relative;
    text-align: center;
    background-color: lightblue;
    float:none;
    width:100%;
    margin-bottom:5%;
}
.container .article-2{ 
    position: relative;
    text-align: center;
    background-color: lightblue;
    float:none;
    width:100%;
    margin-left: -0%;
    margin-bottom:5%;

}
.container .article-3{ 
    position: relative;
    text-align: center;
    background-color: lightblue;
    float:none;    
    width:100%;
    
}

/*    accommodation */

.list-group-item{
    width:300%;
}

.card{
    text-align: center;
}

.sidelinks{
    width:80%;
}
.slideshow3{
 display:none;
}

.sidebyside{
    position:relative;
    display: flex;
    height:200px;
    margin-bottom: 350px;
}

.sidebyside img{
    height:200px;
    margin-bottom:10px;    
    padding-bottom: 50px;

}

.covid{
    margin-top: 50px;
}


.all-in-one{
position: relative;
margin-left: 0%;
width:100%;
}

.all-in-one-hidden{
    display:none;
}

.jumbotron h1{
    font-size: 1.8em;
}
.jumbotron{
    margin-bottom: 25%;
}














}


